strong {
    font-weight: 700
}

.navbar .links {
    background: transparent !important
}

.repo-link {
    display: none !important   
}

.dropdown-wrapper .nav-dropdown .dropdown-item h4 {
  margin-bottom: 0.3rem !important;
}

.sidebar-group.is-sub-group > .sidebar-heading {
    font-weight: bold !important
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 1 !important;
    font-size: inherit !important;
}

.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link {
    font-size: inherit !important;
}

.sidebar-group:not(.collapsable) .sidebar-heading:not(.clickable) {
    cursor: pointer !important
}